body {
background: #FFFEBF;
font-family: Arial, Helvetica, sans-serif;
margin: 40px;
}
h1 {
color: #614680;
text-align: center;
}
h2 {
    color: #555521;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(240, 144, 201); /* pick a color */
border-radius: 25%;
}